<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>top page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<h2>Songs_album</h2>
<form method="post" enctype="multipart/form-data" action="/upload" >
    <input name="file" type="file" />
    <input type="submit" value="アップロードする"/>
</form>


<p th:text="|現在再生中の曲: ${selectedSong}|"></p>

<tr th:each="obj:${files}">
    <td th:text="${obj.file_name}"></td>
</tr>

<form method="get" action="http://localhost:8080/play">
    <button>現在の曲を再生する</button>
</form>
<form method="get" action="http://localhost:8080/play/next">
    <button>次の曲を再生する</button>
</form>
<form method="get" action="http://localhost:8080/shuffle">
    <button>曲を更新してシャッフルする</button>
</form>

<table>
<tr th:each="obj:${songs}">
    <td th:text="${obj.file_name}"></td>
</tr>
</table>

</body>
</html>
